body{
    background-color: rgba(230, 219, 219, 0);
}
.head{
 background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  
  text-align: center;
  text-shadow: rgb(58, 57, 59);
  text-size-adjust: 70px;
  color: rgb(27, 27, 27);
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
span{
    background-color: rgb(13, 148, 201);
    padding: 0px 50px;
    margin: 50px 0px;
}
.fa{
  color: rgb(21, 128, 223);
}
.cardname{
    margin-top: 10px;
    background-color:rgb(203, 205, 207);
}
.card-header{
  color: rgb(151, 151, 228);
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
.card-text{
  color: black;
  text-align: center;
  font-family: monospace;
  font-weight: 100;
  background-color: aquamarine;
}
.price{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color:rgb(207, 165, 58);
  border: none;
  text-align: center;
}
